/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    border: none;
    outline: none;
}

body{
    background-color: black;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* voy a probar hacerlo mobile first */

img{
    max-width: 98vw;
}

figure#imagenHD{
    display: none;
}

iframe.video{
    width: 80vw;
    height: 50vh;
}

section#contenido{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

article#descripcion{
    text-align: center;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
    color: white;
    padding: 1em;
}

article#fecha{
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 10px;
    color: white;
}

h1{
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 20px;
    color: white;
    text-align: center;
    padding: 1em;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    font-family: 'Hind Siliguri', sans-serif;
    font-size: 14px;
}

/* Media queries */

@media (min-width: 768px){

    h1{
        font-size: 30px;
    }

    header{
        font-size: 16px;
    }

    article#descripcion{
        font-size: 16px;
    }

    article#fecha{
        font-size: 12px;
    }

}

@media (min-width: 1024px){

    h1{
        font-size: 35px;
    }

    header{
        font-size: 18px;
    }

    article#descripcion{
        font-size: 18px;
        padding: 5vw;
        padding-bottom: 2vh;
    }

    article#fecha{
        font-size: 14px;
        padding: 2em;
    }

}

@media (min-width: 1920px){

    figure#imagenChica{
        display: none;
    }

    figure#imagenHD{
        display: block;
    }

}